*{
	margin: 0;
	padding: 0;
	overflow: auto;
}
html {
  min-height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
}
body {
  margin:0;
  min-height:100%;
  width:100%;
}
.container{
	width: 100%; 
	position: relative;
}
nav {
    text-decoration : none;
    background-color: #00001a;
    opacity: 0.7;
    position: relative;
    width: 100%;
    height: 20%;
}
nav li{	float: right;
	top: 7vh;
	margin-top:4%;
}
nav li a{
	color: white;
	margin-right: 50px;
	font-size: 120%;
		text-decoration: none;
}
nav li a:hover{
	color: #b3b300;
	text-decoration: none;
	opacity: .7;
	background-color: ;
}
.logo{
	float:left;
	color: white;
	margin-left: 5%;
	top: 10vh;
	margin-top:3%;
}


h1{
	text-align: center;
	text-decoration: none;
	font-weight: bolder;
	line-height: 100px;
}
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic|Lobster+Two:400italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.aboutus, .work, .call, .desp{
	font-family: 'Lobster Two', cursive;
	color: black;
	text-align: center;
	margin-right: 25%;
	margin-left: 25%;
	line-height: 40px;
	font-size: 150%;
}
#welcome{
	height: 100vh;
}
.why{
	font-family: 'Lobster Two', cursive;
	color: black;
	text-align: left;
	line-height: 40px;
	font-size: 140%;
}

#ourwork{
	width: 100%;
	height: 50vh;
	color: black;
	overflow-y:hidden;
	opacity: .8;
	padding: 0;
	background-color: #E5E7D9;
}
.ourworkh{
	font-weight: normal;
	font-size: 400%;
	font-family: 'PT Sans Narrow', sans-serif;
}
.desp{
	color: black;
	line-height: 40px;
	opacity: 1;}

.do{
	height: 100vh;
	color: black;
	width: 100%;
	position: relative;
	background-image: url(images/lawn.jpg);
}
div .slideshow{
	height: 50vh;
	padding-right: 10%;
	padding-left: 10%;
}
#work1, #work2, #work3, #work5, #work4{
	position: absolute;
	background-color: white;
	font-family: 'Lobster Two', cursive;
	margin-top: 10vh;
	font-size: 150%;
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20%;
}
.callfill{
	background-color: #1C2833;
	color: white;
	margin-top:0;
	height: 90vh;
}
.callfill h1{
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: normal;
	font-size: 350%;
}
.call{color: white;
font-family: 'Open Sans', sans-serif;
}

.locfill {
margin: 0; position: relative;
}

.signwrap{
	margin-top:20vh;
}
.signwrap span{
		margin-right: 5%;
		font-family: 'PT Sans Narrow', sans-serif;
	font-size: 400%;
	color: white;
	text-align: center;
	}

#bg1{
height: 60vh;
width: 100%;
overflow: hidden;
background-image: url(images/map1.jpg); 
}
#bg2{
	height: 40vh;
	width: 100%;
	background-color: #b3b300;
	text-indent: 10%;
}

#overlay { 
    background: white;
    width: 80%; 
	left: 25%;
    top: 40vh;
    margin-left: -200px; 
    height: 35vh; 
    position: absolute;
    overflow: hidden;
}

#overlay p{
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	float: right;
	margin-right: 5%;
	font-weight: bold;
}
#overlay h1{
font-family: 'PT Sans Narrow', sans-serif;
font-size: 320%;
font-weight: normal;
margin-left: 5%;
}
.cont{
	display: inline-block;
}

input.signbutton{
	margin: 0;
	padding-left: 4%;
	padding-right: 4%;
	color: white;
	font-size: 100%;
    background-color: #83931E;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    border: 0;
	}

.button {
    background-color: #b3b300;
    border: none;
    color: white;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
}
.img{
	width: 100%;
	height: 100vh;
	margin-top: 2%;
}

.change_img{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;

}
#img{
	position: relative;
	background-size: cover; 
	display:inline-block;
}
div.wrapper{
	top: 35vh;
	position: absolute;
	margin-left: 25%;
	display:block;
	z-index: 100;
}
@import url(https://fonts.googleapis.com/css?family=Satisfy);
div.wrapper .heading{
	font-size: 15vh;
	font-weight: bolder;
	color: white;
	font-family: 'Satisfy', cursive;

}
.quote{
	color: white;
	font-weight: bold;
  	font-size: 20px;
	display: inline-block;

}
.fa-arrow-circle-right, .fa-arrow-circle-left{
	color: #b3b300;
	font-size: 450%;
	top:80vh;
	position: absolute;	
}
.fa-circle{
	color: white;
	font-size: 450%;
	top:80vh;
	position: absolute;	
}
.slide li{
	display:inline;
}
.slide li a{
    padding: 3%;

}

.round-button {
	display:inline-block; 	
	position: absolute;	
	width: ;
    padding: 3%;

}
.round-button-circle {
	height:0;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    padding: 3%;

    
    background: url(images/photo.jpg); 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button li a {
    padding: 3%;
    display:block;
}

 .copywrite{
 	color: white;
text-indent: 10%; 
width: 100%;
height: 15vh;
background-color: #17202A;
}

 .blocks{
 	font-size: 380%;
 	font-weight: normal;
 	font-family: 'PT Sans Narrow', sans-serif;

 }
 #welcome{
 	height: 100vh;
 	overflow: hidden;
 }
.gallery{
	width:90%;
	height: 50vh; 
	overflow: hidden;
	text-align: center;
	padding-top: 2%;
}
.icons, .icons_work{ display: inline-block;
	height: 55vh;
	width: 30%;
	margin-right: 3%;
	overflow: hidden;
}
.icons_work{
	height: 40vh;
	width: 30%;
	margin: 0;
}
#services{
	height: 90vh;
	top:0;
}
.services{
		text-align: left;
		font-weight: normal;
		font-size: 150%;
			font-family: 'Lobster Two', cursive;
			margin-left: 5%;
}
#choose{
	height: 70vh;
}
.imagewrap{
	float: right;
	top: 12vh;
}

.garden{
	display: inline-block;
	position: relative;
}
.garden p{ overflow: hidden;}
.serviceshead{
	font-size: 250%;
	font-weight: normal;
	text-align: left;
	font-family: 'PT Sans Narrow', sans-serif;
}
#do{
	font-weight: normal;
	font-size: 450%;
	font-family: 'PT Sans Narrow', sans-serif;
}



